<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
      <add name="connectionString" connectionString="Server=DESKTOP-O1GIALU\SQLEXPRESS; Database=DnDPartyManager;Trusted_Connection=True;"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <!--<appSettings>
      <add key="ParentTableName" value="Party"/>
      <add key="ChildTableName" value="CharacterSheet"/>
      <add key="ChildNumberOfColumns" value="15"/>
      <add key="SelectParent" value="SELECT * FROM Party"/>
      <add key="SelectChild" value="SELECT * FROM CharacterSheet WHERE partyId=@partyId"/>
      <add key="SelectAllChild" value="SELECT * FROM CharacterSheet"/>
      <add key="ParentColumn" value="@partyId"/>
    </appSettings>-->

  <appSettings>
    <add key="ParentTableName" value="Class"/>
    <add key="ChildTableName" value="CharacterSheet"/>
    <add key="ChildNumberOfColumns" value="15"/>
    <add key="SelectParent" value="SELECT * FROM Class"/>
    <add key="SelectChild" value="SELECT * FROM CharacterSheet WHERE classId=@classId"/>
    <add key="SelectAllChild" value="SELECT * FROM CharacterSheet"/>
    <add key="ParentColumn" value="@classId"/>
  </appSettings>
</configuration>